/*Page formatting*/

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--body-color);
}

#banner {
  height: 50px;
  background-color: var(--banner-color);
  display: flex;
  gap: 5px;
  align-items: center;
  padding-left: 5px;
}

.bannerButton {
  background-color: var(--button-color);
  color: var(--button-text-color);
  font-size: 1em;
  cursor: pointer;

  border: 0;
  border-radius: 0;
  height: 40px;
  padding: 0 1em;
}

#page {
  min-height: calc(100vh - 50px);
  display: flex;
  gap: 0;
}

#pageContent {
  flex: 1;
  max-width: 1000px;
  min-height: 100%;
  color: var(--text-color);
  background-color: var(--page-color);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0em 1em;
}

#navigator {
  width: 20%;
  max-width: 500px;
  min-height: 100%;
  background-color: var(--navigator-color);
}

#navigator.hidden {width: 0}


/*Text formatting*/

.projectTitle {
  text-align: center;
  font-size: 3em;
}
h1 {color: var(--title-color)}
h2 {color: var(--chapter-color)}
h3 {color: var(--section-color)}

p {text-align: justify;}

a {color: var(--link-color)}

.no-bullets {list-style: none}

c, pre {
  font-family: ui-monospace, Menlo, Consolas, monospace;
  font-size: 0.8em;
  background: var(--code-body-color);
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  display: inline;
  padding: 0.1em 0.35em;
  border-radius: 3px;
}

pre {
  display: block;
  padding: 0.75em 1em;
  border-radius: 5px;
  line-height: 1.4;
}

img {
  max-height: 600px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
